body, td {
    font-family: arial;
    font-size: 12px;
    padding: 0;
}

code {
    color: #000066;
}

pre {
    background-color: #eeeeee;
    border: 1px solid #999999;
    padding: 3;
}

b {
    color: #660000;
}

h2 {
    background-color: #eeeeee;
    border-top: 1px solid #99999;
    border-left: 1px solid #99999;
    padding: 2;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}
